html{
  --blue: #3CDBD3;
  --petrol: #4A6C6F;
  --red: #ED474A;
  --lightgrey: #fcfcfc;
  --grey: #817F82;
  --lightpanel: #eee;
  --radius: 0.2em;
}
html {
  height: 100%;
  background: var(--lightgrey);
}

body {
  height: 100%;
  margin: 0;
}
.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.Dashboard {
  position:fixed;
  left:0px;
  bottom:0px;
  height: 3em;
  width:100%;
}
.App-page {
  padding: 5em 1em;
  box-sizing: border-box;
  background: var(--lightgrey);
  height: 100%;
  overflow: auto;
}

@media screen and (min-width: 600px) {
  .App-page {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto, 20em)) 1fr;
  }
}


