body {
  margin: 0;
}
.App {
  max-width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template: 5em 1fr/ 1fr;
  grid-gap: 2em;
}

.App-page {
  grid-row: 2 / 3;
  /* display: grid;
  grid-template-columns: 15em 1fr; */
}

/* .Dashboard {
  grid-column: 1 / 2;
} */

