.Article-title {
  color: var(--petrol);
}
.Article-header, .Comments-And-Votes {
    background: var(--lightpanel);
    padding: 1em;
    margin: 1em 0;
    border-radius: var(--radius);;
    box-shadow: 5px 5px 5px var(--grey);
}
.Comments-And-Votes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Article-topic {
  color: var(--red);
}
.ArticleInfo-commentCount {
  font-size: 1.5em;
}