.Article {
  margin: 0 1em 1em 1em;
  grid-column: 2 / 5;
}
.Article-body {
  background: var(--lightpanel);
  padding: 1em;
  margin: 1em 0;
  border-radius: var(--radius);;
  box-shadow: 5px 5px 5px var(--grey);
}

.Show-comments {
  background: var(--blue);
  font-size: 1em;
  margin: 0;
  box-shadow: 5px 5px 5px var(--grey);
}