Button:disabled {
  color: grey;
}

.New-Comment-Button, .Show-comments, .Submit {
  display: inline-block;
  background: var(--blue);
  border-radius: 1em;
  margin: 0;
  font-size: 1em;
  box-shadow: 5px 5px 5px var(--grey);
  padding: 0.5em;
}
