.Create-article, .Home-create-article {
  display: none;
  border-radius: 2em;
  background: var(--lightpanel);
  margin: 1em;
  padding: 1em;
}

.Create-article form, .Home-create-article form {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: left;
  grid-gap: 1em;
}

#topic {
  background: #fff;
}

