
.Create-topic {
  border-radius: 2em;
  background: var(--lightpanel);
  margin: 1em;
  padding: 1em;
}

.Create-topic form {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: left;
  grid-gap: 1em;
}
#topic {
  background: #fff;
}