.Create-article, .Home-create-article {
  border-radius: 2em;
  background: var(--lightpanel);
  margin: 1em;
  padding: 1em;
  box-shadow: 5px 5px 5px var(--grey);
}

.Home-create-article {
  display: none;
}

.Create-article form, .Home-create-article form {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: left;
  grid-gap: 1em;
}

#topic {
  background: #fff;
}

@media screen and (min-width: 600px) {
  .Home-create-article {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
