.Create-article {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.Create-article {
  border-radius: 2em;
  background: var(--lightpanel);
  margin: 1em;
  padding: 1em;
}
.Create-article form {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: left;
  grid-gap: 1em;
}
#topic {
  background: #fff;
}