.App-header {
  display: grid;
  grid-template-columns: 2em minmax(auto, 25em) 2fr minmax(auto, 25em)  1fr;
  background: var(--petrol);
  border-bottom: 1em solid var(--red);
}

.Header-logo {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-logo > h1 {
  margin: 0;
}

.Header-nav {
  grid-column: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

