
@media screen and (min-width: 600px) {
  .Home-page {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto repeat(4, auto) 1fr ;
    grid-gap: 1em;
  }
  .Home-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .Dashboard-title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 0;
    margin-bottom: 0.7em;
    font-size: 2em;
  }
}
