.Header-logo h1 {
  color: var(--lightgrey);
  font-size: 1em;
  white-space: nowrap;
}

.Header-logo a {
  text-decoration: none;
  color: var(--lightpanel);
}

.Header-logo a:hover {
  text-decoration: none;
  color: var(--red);
}

