.Nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-right: 5vw;
}
.User-img {
  width: 1em;
  overflow: hidden;
}
.Nav-item a {
  text-decoration: none;
  color: var(--lightgrey);
  font-size: 1.2em;
}
.Nav-item a:hover {
  color: var(--red);
}

@media screen and (max-width: 600px) {
  .Nav-list {
    display: none;
  }
}