.Nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.User-img {
  width: 1em;
  overflow: hidden;
}
.Nav-item a {
  text-decoration: none;
  color: var(--lightgrey);
}
.Nav-item a:hover {
  color: var(--red);
}