.Page-selector {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.Page-selector button {
  background: rgba(54, 79, 82, 0.5);
  color: var(--lightgrey);
  font-size: 1em;
  padding: 0.5em;
  border-radius: 3px 7px 3px;
}

.Page-selector button:disabled {
  color: grey;
}
