.Topics {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 2em;
  grid-gap: 1em;
}

.Topic-item {
  background: var(--lightpanel);
  border-radius: var(--radius);;
  padding: 1em;
  box-shadow: 5px 5px 5px var(--grey);
}

.Topic-slug a{
  text-decoration: none;
  color: var(--petrol);
}

.Topic-slug a:hover{
  text-decoration: none;
  color: var(--red);
}

@media screen and (min-width: 600px) {
  .Topics {
    grid-column: 2 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .Topics h1{
    grid-column: 1 / 3;
  }
}