.Users {
  display: grid;
  grid-gap: 1em;
  margin: 0 1em 1em 1em;
}
.Users h1 {
  border-bottom: 2px solid var(--petrol);
  color: var(--petrol);
  margin-bottom: 0;
}
@media screen and (min-width: 600px) {
  .Users {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 2 / 5;
  }
  .Users > h1 {
    grid-column: 1 / 3;
  }
}