.User-item, .Home-user-item, .User-profile-item {
  padding: 1em;
  background: var(--lightpanel);
  border-radius: 2em;
  box-shadow: 5px 5px 5px var(--grey);
}
.User-avatar {
  width: 10em;
}
.User-profile-item button {
  display: none;
}

@media screen and (min-width: 600px) {
  .Home-user-item {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}